[Unit]
Description=motley_cue with gunicorn service
Before=nginx.service

[Service]
User=root
Group=root
RuntimeDirectory=motley_cue
WorkingDirectory=/usr/lib/motley-cue
EnvironmentFile=/etc/motley_cue/motley_cue.env
ExecStart=/usr/lib/motley-cue/bin/gunicorn motley_cue.api:api -k "uvicorn.workers.UvicornWorker" --config /usr/lib/motley-cue/etc/gunicorn/gunicorn.conf.py
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
