Source: motley-cue
Section: contrib/python
Priority: extra
Maintainer: Marcus Hardt <marcus@hardt-it.de>
Homepage: https://github.com/dianagudu/motley_cue
Standards-Version: 4.5.0
Vcs-Git: https://github.com/dianagudu/motley_cue.git
Vcs-Browser: https://github.com/dianagudu/motley_cue
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               fakeroot,
               devscripts,
               dh-virtualenv,
               python3,
               python3-venv,
               python3-dev,
               tar

Package: motley-cue
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, python3-venv, ${misc:Pre-Depends}
Depends: ${misc:Depends}, nginx
Recommends: pam-ssh
Description: Mapper Oidc To Local idEntitY with loCal User managEment
 This tool provides an OIDC-protecte REST interface that allows requesting 
 the creation, deletion, and information of a user-account.

