
module motley-cue-gunicorn 1.0;

require {
	type var_log_t;
	type init_t;
	type lib_t;
	type user_home_t;
	type init_t;
	class file create;
	class dir write;
	class file { create setattr };
}

#============= init_t ==============

allow init_t lib_t:dir write;

allow init_t var_log_t:file create;
allow init_t var_log_t:file setattr;

allow init_t user_home_t:file create;
