# from: https://github.com/ymyzk/tox-gh-actions
name: CI

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox tox-gh-actions
      - run: tox
        name: Linting and testing with tox
      # Main doesn't have a PR for comments so skip that branch
      # We don't want multiple comments about code coverage, just just run it once on 3.10
      - if: ${{ github.ref != 'refs/heads/master' && matrix.python-version == '3.10' }}
        uses: romeovs/lcov-reporter-action@v0.3.1
        with:
          lcov-file: ./coverage.lcov
